<!DOCTYPE html>

<html lang="en">
<head>
    <title>Template Inheritance</title>
    <style>
        .div-1 {
            height: 300px;
            width: 100%;
            background-image: url("/static/banner.png");
        }
        h2 {
            margin: 50px;
            padding: 0px;
            font-family: BebasNeue;
            color: #777878;
            font-size: 30pt;
            line-height:60px;
        }
    </style>
</head>
<body>
<div class="div-1">
    <h2>
         <a href="{{ url_for('menu') }}">Menu</a>
        <a href="{{ url_for('login') }}">Login</a>
    </h2>
</div>



    {% block content %}
    {% endblock %}


</body>
</html>